{% load staticfiles %}
<!DOCTYPE html>
<html>
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
                <!-- awesone fonts css-->
                <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
                <!-- owl carousel css-->
                <link rel="stylesheet" href="{% static 'owl-carousel/assets/owl.carousel.min.css' %}" type="text/css">
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
                <!-- custom CSS -->
                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                <title>Test y manejo de usuarios</title>
                <style>
            
                </style>
        </head>

        {%block body%}
        {%endblock%}

</html>
