{%extends "base.html" %}
{% load staticfiles %}
{%block body%}

<head>
        <style> 
                table { 
                    border-collapse: collapse; 
                }
                th, td { 
                    width:150px; 
                    text-align:left; 
                    padding:5px 
                } 
                input:focus {
                    background-image: linear-gradient(to right,#06c6f9,#38eaf9);
                }
                input {
                border-radius: 5px;
                }
                .btn {
                    background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    border: none;
                    color: white;
                    padding: 12px 16px;
                    font-size: 16px;
                    cursor: pointer;
                }
        </style>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
                <div class="container"><a class="navbar-brand">Edicion de Datos</a>
                    <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                            class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
                </div>
            </nav>
            <div class="container-fluid gtco-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="POST" enctype="multipart/form-data" id="formulario">{%csrf_token%}
                                <table>
                                        {% for field in form %}
                                            <tr>
                                                <th>
                                                    {{field.label}}
                                                </th>
                                                <th>
                                                    {{ field }}
                                                </th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <br>
                                    <br>
                                    <button class="btn" type="submit" label="Ingresar">Confirmar y Regresar <i class="fa fa-angle-right" aria-hidden="false"> </i></button>
                                    <br>
                                </form>
                                <br>
                                <br>
                            <a href="{% url 'users' %}">Regresar <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card"><img class="card-img-top img-fluid" src="{% static 'images/banner-img.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
</body>
{% endblock %}