{%extends "base.html" %}
{% load staticfiles %}
{%block body%}
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
            <div class="container"><a class="navbar-brand">Bienvenido!</a>
                <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                        class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
            </div>
        </nav>
        <div class="container-fluid gtco-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1> Pagina para <span>test</span> y manejo de <span>usuarios</span>.</h1>
                        <p> Juan de Dios Molina Herrera :D </p>
                        <a href="{% url 'users' %}">Manejo de Usuarios <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="{% url 'select_user' %}">Realizar Test <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-6">
                        <div class="card"><img class="card-img-top img-fluid" src="{% static 'images/banner-img.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{%endblock%}