{%extends "base.html" %}
{% load staticfiles %}
{%block body%}
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
            <div class="container"><a class="navbar-brand">Bienvenido {{usuario}} !</a>
                <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                        class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
            </div>
        </nav>
        <div class="container-fluid gtco-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1> El resultado de su prueba fue de: <span>{{nota}}</span> puntos </h1>
                        <p> Si desea ver una comparacion de click en el siguiente boton: </p>
                        <a href="{% url 'generate' %}">Descargar comparativa<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="{% url 'index' %}">Regresar al inicio<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-6">
                        <div class="card"><img class="card-img-top img-fluid" src="{% static 'images/banner-img.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{%endblock%}