{%extends "base.html" %}
{% load staticfiles %}
{%block body%}

<head>
        <style> 
                .btn {
                    background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    border: none;
                    color: white;
                    padding: 12px 16px;
                    font-size: 16px;
                    cursor: pointer;
                }
        </style>
</head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
            <div class="container"><a class="navbar-brand">Seleccion de Usuario!</a>
                <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                        class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
            </div>
        </nav>
        <div class="container-fluid gtco-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1> Pagina para <span>seleccion</span> de usuario que realizara el <span>test</span>.</h1>
                        <center>
                            <form method="POST" enctype="multipart/form-data" id="formulario">{%csrf_token%}
                                {{form.as_p}}
                                <button class="btn" type="submit"> Seleccionar e Iniciar <i class="fa fa-angle-right" aria-hidden="false"> </i></button>
                            </form>
                        </center>
                        <br>
                        <h5>
                        El test solo lo pueden realizar los usuarios que <strong>NO</strong> lo han realizado y que se encuentran actualmente <strong>ACTIVOS</strong>
                        </h5>
                        <center>
                        <a href="{% url 'users' %}">Regresar <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <div class="card"><img class="card-img-top img-fluid" src="{% static 'images/banner-img.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{%endblock%}