{%extends "base.html" %}
{% load staticfiles %}
{%block body%}
<head>
        <style> 
                table { 
                    border-collapse: collapse; 
                }
                th, td { 
                    width:150px; 
                    text-align:left; 
                    padding:5px 
                } 
                input:focus {
                    background-image: linear-gradient(to right,#06c6f9,#38eaf9);
                }
                input {
                border-radius: 5px;
                }
                .btn {
                    background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    border: none;
                    color: white;
                    padding: 12px 16px;
                    font-size: 16px;
                    cursor: pointer;
                }
        </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
                <div class="container"><a class="navbar-brand">Bienvenido {{usuario}} !</a>
                    <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                            class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
                </div>
            </nav>
        <div class="container-fluid gtco-news" id="news">
            <div class="container">
                    <h2>{{examen}}</h2>
                    <center>
                        <h3>{{examen.descripcion}}</h3>
                    </center>
                    <br>
                    <br>
            </div>
            <div class="container">
                <form method="POST" enctype="multipart/form-data" id="formulario">{%csrf_token%}
                    {% for pregunta in preguntas %}
                        <h4>{{pregunta.id_pregunta}}</h4>
                        {%if pregunta.id_pregunta.id_tipo.id_tipo == 1 %}
                            <select name = {{pregunta.id_pregunta.id_pregunta}}>
                                {%for resp in respuestas %}
                                    {% if pregunta.id_pregunta.id_pregunta == resp.id_pregunta.id_pregunta %}
                                        <option value={{resp.id_respuesta.id_respuesta}}>{{resp.id_respuesta.descripcion}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                        {% endif %}
                        {%if pregunta.id_pregunta.id_tipo.id_tipo == 2 %} 
                                {%for resp in respuestas %}
                                    {% if pregunta.id_pregunta.id_pregunta == resp.id_pregunta.id_pregunta %}
                                        <br>
                                        <input type="radio" name={{pregunta.id_pregunta.id_pregunta}} value={{resp.id_respuesta.id_respuesta}}> {{resp.id_respuesta.descripcion}} </input>
                                    {% endif %}
                                {%endfor%}
                        {% endif %}
                        {%if pregunta.id_pregunta.id_tipo.id_tipo == 3 %}
                            <input type="text" name={{pregunta.id_pregunta.id_pregunta}}>
                        {% endif %}
                        <br>
                        <br>
                    {% endfor %}
                    <center>
                        <button class="btn" type="submit" > Finalizar <i class="fa fa-angle-right" aria-hidden="false"> </i></button>
                    </center>
                </form>
            </div>
        </div>


</body>


{%endblock%}