{%extends "base.html" %}
{% load staticfiles %}
{%block body%}
<head>
        <style> 
                table { 
                    border-collapse: collapse; 
                }
                th, td { 
                    width:150px; 
                    text-align:left; 
                    padding:5px 
                } 
                input:focus {
                    background-image: linear-gradient(to right,#06c6f9,#38eaf9);
                }
                input {
                border-radius: 5px;
                }
                .btn {
                    background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
                    border: none;
                    color: white;
                    padding: 12px 16px;
                    font-size: 16px;
                    cursor: pointer;
                }
        </style>
</head>
<body>
        <div class="container-fluid gtco-features" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2> Manejo de Usuarios</h2>
                            <p> A continuacion se encuentran los usuarios registrados en la base de datos. </p>
                            <form method="POST" enctype="multipart/form-data" id="formulario">{%csrf_token%}
                                <table>
                                    {% for field in form %}
                                        <tr>
                                            <th>
                                                {{field.label}}
                                            </th>
                                            <th>
                                                {{ field }}
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <p></p>
                                <center>
                                        <button class="btn" type="submit" label="Ingresar">Registrar <i class="fa fa-angle-right" aria-hidden="false"> </i></button>
                                </center>
                            </div>
                                
                            </form>
                        <div class="col-lg-8">
                            <svg id="bg-services"
                                 width="100%"
                                 viewBox="0 0 1000 800">
                                <defs>
                                    <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                        <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                        <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                    </linearGradient>
                                </defs>
                                <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                                      d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                            </svg>
                            <div class="row">
                                <div class="col">
                                    <table border="1">
                                        <tr>
                                            <th>
                                                Nombre
                                            </th>
                                                    <th>
                                                        Edad
                                                    </th>
                                                    <th>
                                                        Correo
                                                    </th>
                                                    <th>
                                                        Genero
                                                    </th>
                                                    <th>
                                                        Fecha de Creacion
                                                    </th>
                                                    <th>
                                                        Estado
                                                    </th>
                                                    <th>
                                                        Editar
                                                    </th>
                                                    <th>
                                                            Eliminar
                                                    </th>
                                        </tr>
                                        {% for usuario in usuarios %}
                                        <tr>
                                            <th>
                                                {{usuario.nombre}}
                                            </th>
                                            <th>
                                                {{usuario.edad}}
                                            </th>
                                            <th>
                                                {{ usuario.correo }}
                                            </th>
                                            <th>
                                                {{ usuario.id_genero }}
                                            </th>
                                            <th>
                                                {{ usuario.fecha_creacion }}
                                            </th>
                                            <th>
                                                {% if usuario.estado == 1 %}
                                                    Activo
                                                {% else %}
                                                    Inactivo
                                                {% endif %}
                                            </th>
                                            <th>

                                                <a style="background-image: none;" href="{% url 'edit_user' user_id=usuario.id_usuario %}"><img src="{% static 'icon/edit.png'%}" height="40" width="40"></a>

                                                
                                            </th>
                                            <th>
                                                    <a style="background-image: none" href="{% url 'delete_user' user_id=usuario.id_usuario %}"><img href="#" src="{% static 'icon/delete.png'%}" height="40" width="40"></a>
                                                </th>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <br>
                                    <a href="{% url 'index' %}">Regresar al inicio<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
{% endblock %}